* {
    box-sizing: border-box
}


/* variables */
:root {
    --button-color: #7c73e6;
    --button-color-grey: rgb(58, 58, 58);
    --boder-light-grey: rgb(224, 224, 224);
    --shipping-color: #528603;

}

/* */


body {
    font-family: "poppins";
    margin: 1px;
    box-sizing: border-box;
    background-color: #fff;
}

#home-main {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    justify-items: center;
    row-gap: 200px;

}

main>* {
    grid-column: 2;
}


/* Carousel Code */

.hero {
    grid-column: 2;
    width: 100%;
    height: 80vh;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.inner-container {
    display: flex;
    width: 100%;
    /* overflow: hidden; */
    height: auto;
    flex-wrap: nowrap;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    background-color: white;
    border: 1px solid rgba(187, 187, 187, 0.8);
    padding: 5px;
    width: 50px;
    margin: 0;
    height: 50px;
    font-size: medium;
    color: rgba(33, 133, 248, 0.8);
    font-weight: 500;
    cursor: pointer;
    border-style: none;
}

.hero button:hover {

    background-color: rgb(187, 186, 186);

}

.carousel-next {
    left: 0;
}

.carousel-prev {
    right: 0;
}

.dot-points-container {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 10%;
    gap: 1rem;
    padding: .2rem .5rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    height: fit-content;
    justify-content: center;
}

.dot-btn {
    transition: all 200ms ease-in-out;
    background-color: rgb(143, 143, 143);
    flex-grow: 0 0 auto;
    cursor: pointer;
    width: 10%;
    height: 15px;
    border-radius: 50%;
    border: none;

}

.current-img-btn {
    background-color: rgb(211, 211, 211);
}

.slide {
    position: relative;
}

.slide-message {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-50%);
}

.slide-title {
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

.shop-now {
    background-color: var(--button-color-grey);
    padding: 1rem 3rem;
    color: white;
    border-style: none;
    font-size: medium;
    font-weight: bold;
}

/* NAVBAR */

.nav {
    padding: 1% 100px;
    transition: all 500ms ease;
    display: flex;
    position: relative;
    top: 0;
    z-index: 3;
    background-color: white;
    align-content: center;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid var(--boder-light-grey)
}

/* list of nav links */
.list {
    font-size: 15px;
    list-style: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 0;
}

.list a {
    font-weight: bolder;
}


.list li {}

/* Cart*/

.cart-logo {
    width: 25%;
    height: 35%;

}

.cart-divider {
    border: 1px solid #1C274C;
    height: 15px;
}

.cart-counter {
    margin: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    height: 20px;
    width: 20px;
}

.counter-text {

    margin: 0;
}

.logo-container {
    cursor: pointer;
    flex-basis: 10%;
    transition: all ease-out .1s;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 30px;
    justify-content: space-between;
    padding: .1rem 1rem;
    display: flex;
    height: fit-content;
    align-content: center;
    flex-wrap: wrap;
}

.logo-container:hover {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}


/* Search bar and search Results */

.navbar-search-bar-container {
    display: flex;
    align-items: center;
    width: clamp(20%, 200px, 50%);
    border: 1px solid var(--boder-light-grey);
    height: 50px;
    padding: 0 .7rem;
}

.search-box-active {
    box-shadow: 7px 5px 10px 5px rgba(0, 0, 0, 0.1);
}


.navbar-search-bar {
    margin-left: 5px;
    border: none;
    flex-grow: 1;

}

.navbar-search-bar:focus {
    outline: none;
}

.navbar-search-bar::placeholder {
    font-weight: bolder;
    color: rgb(179, 179, 179);
}

.search-results-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    transition: all ease 1s;
}

.search-result-item {
    border: 1px solid var(--boder-light-grey);
    flex: 0 0 0;
    cursor: pointer;
    height: 250px;
    width: 100%;
}

.item-link{
    width: 30%;
}

.item-link:hover {
    text-decoration: none;
}

.result-item-body {
    border-top: 1px solid var(--boder-light-grey);
    padding: 0.5rem;
}

.result-item-body h5 {
    font-weight: bolder;
}

/* Cart Slider */

#cart-slider-box {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.cart-slider {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 1rem;
    padding: 2rem 1rem;
    height: 100vh;
    right: -100%;
    width: 500px;
    position: fixed;
    top: 0;
    z-index: 20000;
    background-color: white;
    box-shadow: 10px 0 15px 15px rgba(0, 0, 0, 0.2);
    border-left: var(--boder-light-grey)
}


.cart-top-section {
    display: flex;
    justify-content: space-between;
}

.cart-slider-title {
    margin: 0;
    font-size: medium;
    font-weight: bolder;
}

.cart-top-buttons {
    display: flex;
    flex-wrap: nowrap;
}


.cart-slider-btn {
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    padding: .7rem 2rem;
    color: rgb(117, 117, 117);
    font-weight: bold;
    cursor: pointer;
}

.checkout-btn {
    background-color: var(--button-color-grey);
    color: white;
}

.no-items-text {
    font-size: small;
    font-weight: bolder;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(165, 165, 165);
    bottom: 0;
    width: 100%;
    padding: 12px;
    margin-top: auto;
}

.cart-total-price-text {
    font-weight: bolder;
    font-size: large;
}

.clear-cart {
    border-left-style: none;
}

.cart-items-list {
    flex-wrap: wrap;
    display: flex;
    max-height: 600px;
    overflow-y: scroll;
    row-gap: 0.5rem;
}

/* page title */

.title-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: center;
    justify-content: center;
}

.title-container h1 {
    margin: 0;
}

/* activation of links */

.nav a.active {
    text-decoration: underline;
    padding: 0.5rem 1rem;

    font-weight: bold;

}

.nav a {
    transition: all ease-out .2s;
    text-decoration: none;
}

.cart-link {
    max-width: 150px;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

/* Bento */
.bento-grid>div {
    opacity: 0;
    border-radius: 12px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}


.bento-section {
    width: 100%;
}



.bento-replacement {
    width: 100%;
    height: 500px;
}



.bento-grid {
    margin: auto auto;
    width: 80%;
    gap: 2%;
    display: grid;
    height: 500px;
    grid-template: repeat(2, 1fr) / 50px 1fr 1fr;
}

.bento-jew {
    grid-row: 1;
    grid-column: 2;
    background-color: red;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/bento-jewelery.jpg");
}

.bento-jew::before {
    content: "Jewelery";
    color: white;
    font-weight: bold;
    font-size: 4rem;
    position: absolute;
    left: 2%;
    bottom: 50%;
    transform: translateY(50%);

}

.bento-ele::before {
    content: "Electronics";
    color: white;
    font-weight: bold;
    font-size: 4rem;
    position: absolute;
    left: 2%;
    bottom: 50%;
    transform: translateY(50%);

}

.bento-men::before {
    content: "Men";
    color: white;
    font-weight: bold;
    font-size: 4rem;
    position: absolute;
    left: 2%;
    bottom: 50%;
    transform: translateY(50%);

}

.bento-wom::before {
    content: "Women";
    color: white;
    font-weight: bold;
    font-size: 4rem;
    position: absolute;
    left: 2%;
    bottom: 50%;
    transform: translateY(50%);

}

.bento-ele {
    grid-row: 1;
    grid-column: 3;
    background-color: blue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/bento-electronics.avif");
}

.bento-wom {
    grid-row: 2;
    grid-column: 1 /3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/bento-woman.jpg");
}

.bento-men {
    grid-row: 2;
    grid-column: 3;
    background-color: green;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/bento-men.jpg");
}



/* Dashbaord */

.dashboard {
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex-wrap: wrap;
    max-width: 30%;
    justify-self: start;
    padding: 2rem;
    height: fit-content;
    flex: 0 1 30%;
}

.close-icon {
    width: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.dashboard span {
    text-align: start;
    position: relative;
    display: inline-block;
    width: fit-content;
    font-size: small;
    padding: 15px;
    background-color: rgb(202, 202, 202);
    font-weight: 600;
    cursor: pointer;
    transition: opacity ease-out .5s;
}

.override-sorting,
.override-filter {

    opacity: 0;

}



.dashboard-label {

    font-size: larger;
    color: rgb(104, 104, 104);
}

.dashboard select,
.dashboard-search-bar {
    font-family: "poppins";
    padding: .7rem 1rem;
    border-style: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.69);
}

.dashboard-search-bar:active {
    border-color: red;
}

/* dashboard nav-list */

.dashboard-nav-list {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
}

.dashboard-nav-list a {
    padding: .3rem 1rem;
}

.activeLink {
    background-color: #ececec;
}

a:hover {
    text-decoration: none;
}



/* add to cart button */

.add-to-cart:hover {
    opacity: 0.7;
}

.product-detail-select {
    padding: .2rem;
    border: 1px solid var(--boder-light-grey);
}

.add-to-cart {
    cursor: pointer;
    font-weight: bold;
    color: white;
    max-width: 50%;
    height: 40px;
    background-color: var(--button-color-grey);
    border: none;
}

/* Product Detail Page */

.product-detail-main {
    display: flex;
    justify-content: center;
}


.product-main-container {
    border: 1px solid;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 0 3px 0px rgba(0, 0, 0, 0.1);
    margin-top: 125px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 0.5fr 0.7fr 1fr;
    width: 50%;
    justify-self: center;
    border: 1px solid var(--boder-light-grey);
    height: fit-content;
}


/* .product-main-container>* {
    border: 1px solid blue
} */

/* PRODUCT INFO */

.product-info {
    row-gap: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    grid-column: 3;
    height: 500px;
    border-left: 1px solid var(--boder-light-grey);
}

.category-product-detail {
    font-size: medium;
    text-transform: capitalize;
    font-weight: bolder;
    color: rgb(128, 128, 128);
}

.product-info p {
    margin: 0;
}

.product-info h1 {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

.price-stars-section {
    display: flex;
    flex-wrap: wrap;
}

.rating {
    flex-basis: 100%;
    display: flex;
}

.stars {
    flex-basis: 50%;
}


.price {
    color: rgb(87, 85, 85);
    font-size: 30px;
    font-weight: bolder;
    font-weight: 900;
}

.original-tag {
    border-radius: 4px;
    border: 1px solid var(--boder-light-grey);
    background-color: rgb(182, 182, 182);
    color: white;
    font-weight: bold;
    font-size: small;
    padding: 0 1rem;
    width: fit-content;
}

/* Shipping section */

.shipping-items-container {

    display: flex;
    column-gap: 2%;

}

.shipping-items-container img {
    height: 20px;
    flex-basis: 10%;
}

.shipping-text {
    height: fit-content;
    font-size: small;
    font-weight: 800;
    color: var(--shipping-color);
}

.product-img-main-container {
    grid-column: 2;
    width: 100%;
    /* border: 2px solid green; */
    max-height: 500px;
    display: flex;
}

.product-miniature-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    grid-column: 1;

}

.miniature-img {
    max-height: 115px;
    width: 100%;
}

.miniature-inner-container {
    border: 1px solid var(--boder-light-grey);
    padding: 1rem 3rem;
}

/* IMAGE SECTION */

.image {
    max-width: 100%;
    max-height: 100%;
}

.product-img-container {
    flex-basis: 80%;
    height: 80%;
}

.product-miniature-container {
    flex-basis: 30%;
    /* border-right: 1px solid var(--boder-light-grey); */
}


/* CARDS IMAGES  */

.card-img {
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
}

.card-img img {
    max-width: 35px;
}

.card-img span {
    font-size: small;
}


/* Icons */

.product-icon {
    width: 20%;
    height: 30%
}

.star-icon {
    margin: 0;
    width: 20%;
    height: 30%;
}

/* Stock and qty part*/

.in-stock {
    height: fit-content;
    flex-basis: 40%;
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.in-stock p {
    flex-basis: 50%;
    font-size: small;
}

.stock-and-qty {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

.stock-and-qty select {
    flex-basis: 25%;
    height: 25px;
}


/* SIZE -CHART */

.size-chart {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    font-size: 15px;
}

.size-circle {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    margin: 0;

}

.size-text {
    flex-basis: 100%;
    margin: 0;
}

/* button */


/* backdrop */

.backdrop{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10000;
    backdrop-filter: blur(4px);
}